/* This file is for your main application css. */
@import "bootstrap";

.container {
	margin-top: 20px;
}

.chat {
    margin-top: 0em;
}

.chat-room {
    margin-top: 1em;
}

.card-messages, .card-users {
    height: 60vh;
}

.card-header {
    background-color: pink; //pick an actual rbg val later
}

#chat-messages {
    min-height: 400px;
    overflow-y: scroll;
}

.imdbae-container {
  overflow-y: hidden;
}


footer {
  //position: fixed;
	left: 0;
	bottom: 0;
	padding-left: 20px;
	padding-top: 15px;
	width: 100%;
	background-color: pink;
}
