/* This file is for your main application css. */
@import "bootstrap";

.chat {
    margin-top: 0em;
}

.chat-room {
    margin-top: 1em;
}

.card-messages, .card-users {
    height: 400px;
}

#chat-messages {
    min-height: 400px;
    overflow-y: scroll;
}
