/* This file is for your main application css. */
$icon-font-path: "/fonts/";

@import "bootstrap";
@import "font-awesome";


.container {
	margin-top: 20px;
}

.chat {
  margin-top: 0;
}

.chat-room {
    margin-top: 1em;
}

.card-messages, .card-users {
    height: 60vh;
	overflow-y: scroll;
}

.card-header {
    background-color: #FFC2AE;
}

#chat-messages {
    min-height: 400px;
    overflow-y: scroll;
}

.imdbae-container {
  overflow-y: hidden;
}

.navbar {
    background-color: #5F0025;
}

.navbar .navbar-collapse .nav-item .nav-link {
    color: #FFFFFF;
}


footer {
  position: fixed;
	left: 0;
	bottom: 0;
	padding-left: 20px;
	padding-top: 15px;
	width: 100%;
	background-color: #FFC2AE;
}
